@page "/auth?"
@using Frontend.Browser.Layouts

@layout LoginLayout

@inject AuthorizeApi _authorizeApi
@inject NavigationManager _navManager

<div style="background: red; width: 300px; height: 300px; display: grid;">
    <h2>Sign in to your account:</h2>
    <input type="text" @bind-value="@_login" placeholder="Login"/>
    <input type="password" @bind-value="@_password" placeholder="Password"/>
    <button onclick="() => @OnLogin()">login</button>
</div>
<div style="background: green; width: 300px; height: 300px; display: grid;">
    <h2>Register your account:</h2>
    <input type="text" @bind-value="@_regName" placeholder="Screen name"/>
    <input type="text" @bind-value="@_regLogin" placeholder="Login"/>
    <input type="password" @bind-value="@_regPassword" placeholder="Password"/>
    <button onclick="() => @OnRegister()">register</button>
</div>

@code {
    private string _login;
    private string _password;

    private string _regName;
    private string _regLogin;
    private string _regPassword;

    private async Task OnLogin()
    {
        var success = await _authorizeApi.Login(_login, _password);

        if (success)
            _navManager.NavigateTo("/");
    }

    private async Task OnRegister()
    {
        var success = await _authorizeApi.Login(_login, _password);

        if (success)
            _navManager.NavigateTo("/");
    }

}